{% extends 'base.html'%}
{% block content%}
<div class="container">
        {% for article_item in articles | batch(6)%}
	        <div class="row">	       
		        {% for article in article_item %}
		        	<div class="col-md-3">
				        <div class="thumbnail">
				        <a href="{{article.url}}" target="_blank">
						      <img src="{{article.urlToImage}}" alt="{{article.title}}" class="img-responsive" styles="height:30px">
						      </a>
						      <div class="caption">
						        <h4><a href="{{article.url}}" target="_blank">{{article.title |truncate(25)}}</a></h4>
						        <p>{{article.description | truncate(80)}}</p>
						        <a href="{{article.url}}" target="_blank"> Read More</a>						        
						      </div>
						      <div class="footer">
						      Published on: {{article.publishedAt}}							
							</div>
	  					</div>
			     	</div>			     	
		        {% endfor %}	        
	        </div>         
        {% endfor %}       
	
</div>


{%endblock%}

 