{% extends 'base.html'%}
<!-- Styles block -->
{% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    
{% endblock %}
{% block content%}
<div class="container">
<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <h1>404</h1>
    </div>
    <h2>Oops! Nothing was found</h2>
    <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable. <a href="/">Return to homepage</a></p>
    <div class="notfound-social">
      <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
      <a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>
</div>
{%endblock%}