{% extends 'base.html'%}
{% import 'macros.html' as macro %}
<!-- Styles block -->

{% block content %}

<div class="container">
<h3 style="padding-left: 50px;">Technology</h3>
<ul>
  {{ macro.displaySources(tech_news)}}

</ul>

<h3 style="padding-left: 50px;">Business</h3>
<ul>
  {{ macro.displaySources(business_news)}}
</ul>
<h3 style="padding-left: 50px;">Sports</h3>
<ul>
  {{ macro.displaySources(sports_news)}}

</ul>
<h3 style="padding-left: 50px;">Entertainment</h3>
<ul>
  {{ macro.displaySources(entertainment_news)}}
 
</ul>
<h3 style="padding-left: 50px;">Health</h3>
<ul>
  {{ macro.displaySources(health_news)}}

</ul>
<h3 style="padding-left: 50px;">General</h3>
<ul>
  {{ macro.displaySources(general_news)}}
  
</ul>

<h3 style="padding-left: 50px;">Science</h3>
<ul>
  {{ macro.displaySources(science_news)}}

</ul>
</div>
{% endblock %}